@media (max-width: 1200px)
    .container
        max-width: 960px
    .hotel
        &-slider
            width: 590px
            &__image
                object-fit: cover
                width: 100%
                height: 100%
    .swiper
        &-slide
            &__image
                width: 100%
                height: 100%
                object-fit: cover
    .footer
        &__input
            &-group
                flex-basis: 100%
                &-wrapper
                    flex-direction: column
        &__social
            &-network
                display: flex
                align-items: start
                grid-row: 2 / 4
                grid-column: span 2
            &-links
                display: flex
                align-items: center
                justify-content: space-between
                min-width: 83px
    .card
        width: 200px
        height: 200px

@media (max-width: 992px)
    .container, .newsletter-wrapper
        max-width: 700px
    .logo
        &-img
            max-width: 132px
    .navbar
        &-top
            padding-top: 30px
            padding-bottom: 30px
        &__search
            margin-left: 47px
        &-menu
            padding-top: 22px
            padding-bottom: 22px
            &__link
                font-size: 12px
                line-height: 15px
        &-bottom
            &__container
                max-width: 673px

    .search
        &__input
            width: 340px
    .hotel
        &-grid
            flex-direction: column
        &-right
            flex-direction: row
        &__slider
            margin-bottom: 30px
            width: 100%
    .booking
        width: 340px
    .slider
        width: 100%
        margin-bottom: 30px
    .map
        width: 340px
    .packages
        &__title
            font-size: 30px
            line-height: 38px
        &-wrapper
            grid-template-columns: repeat(2,minmax(min-content, 350px))
    .newslatter
        padding: 92px 0 92px 0
    .reviews
        padding-bottom: 60px
        &__title
            margin-bottom: 50px
            font-size: 30px
            line-height: 38px
        &-slider
            &__item
                max-width: 580px
                padding: 0 62px 30px
            &__button
                top: 43%
                &--next
                    right: 0
                &--prev
                    left: 0
    .activities
        padding-bottom: 50px
        &-wrapper
            flex-wrap: wrap
        &__card
            margin-bottom: 20px
    .card
        width: 340px
        height: 255px
        &__title
            &--1
                width: 50%
            &--2
                width: 60%
            &--3
                width: 60%
            &--4
                width: 75%
    .footer
        padding-top: 73px
        &-wrapper
            grid-template-columns: repeat(5, minmax(min-content, 1fr))
            grid-gap: 45px
            margin-bottom: 56px
        &__input
            &-group
                flex-basis: 48%
            &-wrapper
                flex-direction: row
        &__logo
            grid-row: 1 / 2
            width: 100px
        &__social
            &-network
                grid-row: 1 / 2
                grid-column: span 4
                align-self: center
        &__categories
            grid-row: 2 / 3
            grid-column: span 2
        &__legal
            grid-column: span 2
        &__additional
            grid-column: span 2
        &__contact
            &-details
                grid-column: span 5
                grid-row: 3
            &-form
                grid-column: span 4
                grid-row: 4
        &__ul
            margin-left: 0
    .modal
        &__dialog
            padding: 33px 56px

@media (max-width: 769px)
    .navbar
        &-top
            padding-top: 25px
            padding-bottom: 20px
        &__search
            margin-left: 0
        &__user
            height: 55px
    .hotel
        &-info
            padding-bottom: 15px
    .newsletter
        padding-top: 94px
        padding-bottom: 91px
    .reviews
        padding-top: 44px
        padding-bottom: 100px
        &-title
            font-size: 30px
            line-height: 38px
            margin-bottom: 48px
        &-slider
            &__date
                margin-bottom: 0
            &__profile
                margin-bottom: 25px
            &__button
                transform: translateY(0)
    .star
        width: 6px
        height: 6px
    .activities
        padding-bottom: 48px
    .footer
        padding-top: 48px
        &-wrapper
            grid-gap: 40px
        &__list
            margin-top: -20px
        &__social
            &-network
                grid-row: 1 / 2
                grid-column: span 4
        &__categories
            grid-row: 2 / 3
            grid-column: span 1
        &__additional
            grid-column: span 2
        &__legal
            justify-self: center
        &__contact
            &-details
                margin-top: 15px
            &-form
                margin: 0
        &__title
            &--mb-15
                margin-bottom: 25px
        &__form
            width: 540px
        &__wrapper
            &-info
                margin-top: 5px
        &__info
            margin-top: 10px

@media (max-width: 767px)
    .container
        max-width: 576px
        width: 86%
    body
        padding-top: 78px
    .navbar
        &-menu
            padding: 0
        &--mobile
            &_fixed
                position: fixed
                left: 0
                top: 0
                right: 0
                z-index: 99
        &__user, &__search
            &--mobile
                &_hidden
                    display: none
        &__user, &__search
            &--mobile
                &_visible
                    display: flex
        &__search
            margin: 27px 0 39px 0
        &__user
            flex-direction: column
            justify-content: center
            &__name
                &--light
                    color: $light
                    margin: 10px 0 0 0
        &-bottom
            display: none
            position: fixed
            right: 0
            left: 0
            bottom: 0
            top: 78px
            padding-top: 30px
            overflow-y: auto
            &--visible
                display: block
                //width: 100%
        &-menu
            flex-direction: column
            align-items: center
            &__link
                margin-bottom: 20px
            &__item
                margin-bottom: 20px
                &--mobile
                    &_visible
                        display: block
    .menu
        &-button
            display: flex
            width: 16px
            height: 11px
            padding: 0
            align-items: center
            justify-content: space-between
            flex-direction: column
            border: none
            background-color: #ffffff
            cursor: pointer
            &__line
                width: 16px
                height: 1px
                background-color: $text-color
    .stars
        flex-basis: content
    .hotel
        padding-top: 8px
        &-name
            flex-basis: 100%
        &-wrapper
            justify-content: space-between
        &-info
            &__text
                width: 95%
            &__name
                margin-top: 10px
            &__rating
                display: none
            &__offer
                order: -1
                margin-left: 0
                margin-top: 0
        &-right
            flex-direction: column
            min-height: 450px
        &-slider
            width: 100%
            margin-bottom: 30px
        &-info
            padding-bottom: 15px
    .hotel
        padding-bottom: 60px
        &-slider
            height: 350px
        &-right
            flex-direction: column
            min-height: 450px

    .packages
        &-wrapper
            grid-template-columns: minmax(min-content, 1fr)
    .packet
        justify-content: flex-end
        background-color: rgba(0, 0, 0, 0)
        &::before
            content: ''
            position: absolute
            top: 0
            left: 0
            right: 0
            bottom: 0
            background: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #00479e 99.85%)
            z-index: -1
        &:first-child
            grid-column: span 1
        &__image
            position: absolute
            right: 0
            left: 0
            top: 0
            bottom: 0
            width: 100%
            height: 100%
            object-fit: cover
            z-index: -2
        &__offer
            padding: 8px 23px 7px 11px
            font-style: normal
            font-weight: 600
            font-size: 12px
            line-height: 15px
        &__info
            display: flex
            flex-direction: column
            justify-content: space-between
        &__price
            align-items: center
        &__button
            padding-top: 10px
            padding-bottom: 10px
    .other
        &-packet
            &__rating
                display: none
            &__info
                justify-content: flex-end
                padding: 30px 21px 30px 21px
                width: 100%
            &__image
                height: auto
            &__description
                display: none

    .booking
        width: 100%
    .map
        width: 100%
    .newsletter
        padding: 76px 0 83px 0
        &-wrapper
            max-width: 576px
            width: 86%
            flex-direction: column
            align-items: flex-start
        &__title
            padding-bottom: 37px
        &-title
            font-size: 20px
        &__strong
            font-size: 30px
    .subscribe
        width: 100%
    .reviews
        padding-bottom: 60px
        &-title
            font-size: 18px
            line-height: 23px
        &-slider
            &__item
                padding: 0 30px 30px
                &:after, &:before
                    display: none
            &__button
                top: 45px
                &--prev
                    left: 50%
                    transform: translate(-50%, -50%)
                    margin-left: -75px
                &--next
                    right: 50%
                    transform: translate(50%, -50%)
                    margin-right: -75px
            //&__avatar
                //margin-bottom: 12px
            //&__date
                //margin-bottom: 0
            //&__profile
                //margin-bottom: 26px
            //&__text
                //max-width: 455px
            //&__button
                //top: 45px
    //.activities
     //   padding-bottom: 50px
      //  &__title
      //      padding-top: 31px
    .card
        width: 49%
        height: 255px
        &__title
            &--1
                width: 65%
            &--2
                width: 75%
            &--3
                width: 75%
            &--4
                width: 90%
    .footer
        padding-top: 69px
        &-wrapper
            grid-template-columns: repeat(3, minmax(min-content, 1fr))
            grid-gap: 30px
            margin-bottom: 30px
        &__logo
            grid-row: 1
            grid-column: 1
            width: 104px
        &__list
            margin-top: 0
        &__social
            &-network
                grid-row: 2
                grid-column: span 2
                flex-direction: column
            &-links
                margin-top: 20px
        &__categories
            grid-row: 5
            grid-column: span 2
        &__additional
            grid-row: 4
            grid-column: span 2
        &__title
            margin-bottom: 12px
            &--mb-3
                margin-bottom: 29px
        &__legal
            grid-row: 3
            grid-column: span 2
            justify-self: start
        &__contact
            &-details
                grid-row: 6
                grid-column: span 3
            &-form
                grid-row: 7
                grid-column: span 3
        &__wrapper
            &-info
                justify-content: start
        &__info
            &-pay
                width: auto
                flex-direction: column
                height: 50px
        &__form
            width: 90%
        .modal
            &__dialog
                padding: 33px 40px
            &__form
                flex-direction: column
                align-items: start
            &__input
                min-width: 300px
            &__button
                order: 1
                margin-top: 15px
            &__info
                width: 100%
    //.footer
        //&__ul
            //&--pd-7
                //margin-left: 12px
//@media (max-width: 767px)
    //.newsletter
     //   &-wrapper
     ///       max-width: 576px
     ///       flex-wrap: wrap
     //   &-title
     //       margin-bottom: 37px
     //   &__subscribe
     //       width: 100%

@media (max-width: 576px)
    .logo
        max-width: 99px
    .navbar
        &--mobile
            &_fixed
                max-width: 576px
                width: 100%
                margin: auto
    .hotel
        padding-bottom: 40px
        &-slider
            margin-bottom: 20px
            height: 270px
    .packages
        &-wrapper
            margin-top: 40px
        &__title
            font-size: 18px
            line-height: 23px

    .reviews
        padding-bottom: 50px
        &-slider
            &__text
                text-align: left

    .activities
        &__title
            font-size: 18px

    .card
        width: 100%
        height: 255px

    .footer
        &-wrapper
            grid-template-columns: minmax(min-content, 1fr)
            grid-gap: 30px
        &__logo
            grid-row: 1
            grid-column: 1
            width: 104px
        &__social
            &-network
                grid-row: 2
                grid-column: 1
        &__legal
            grid-row: 3
            grid-column: 1
        &__additional
            grid-row: 4
            grid-column: 1
        &__categories
            grid-row: 5
            grid-column: 1
        &__contact
            &-details
                grid-row: 6
                grid-column: 1
            &-form
                grid-row: 7
                grid-column: 1
        &__input
            &-group
                flex-basis: 100%
            &-wrapper
                flex-direction: column
        &__form
            width: 90%

@media (max-width: 480px)
    .container
        width: 90%
    .navbar
        &-top
            max-width: 100%
        &__search
            width: 243px
        &--mobile
            &_fixed
                max-width: 480px
                margin: auto
    .breadcrumb
        &-list
            padding-top: 12px
            padding-bottom: 14px
    .hotel
        &-grid
            padding-top: 18px
        &-slider
            height: 176px
        &__button
            width: 12px
            height: 12px
        &-info
            &__offer
                margin-left: 5px
    .booking
        padding-top: 35px
        &__text
            margin-top: 5px
    .newsletter
        padding: 76px 0 85px 0
        &-title
            font-style: normal
            font-weight: 300
            font-size: 20px
            padding-bottom: 30px
            &__strong
                font-style: normal
                font-weight: 600
                font-size: 30px
                text-transform: uppercase
    .reviews
        padding-top: 40px
        padding-bottom: 0
        &-title
            display: flex
            max-width: 245px
            margin: auto
            font-style: normal
            font-weight: bold
            font-size: 18px
            line-height: 23px
            text-align: center
            text-transform: uppercase
            margin-bottom: 42px
        &-slider
            &__username
                margin-bottom: 8px
            &__button
                &--prev
                    margin-left: -93px
                &--next
                    margin-right: -87px
    .activities
        padding-bottom: 43px
        &__title
            font-size: 18px
            line-height: 23px
            padding-top: 57px
            margin-bottom: 35px
        &__card
            width: 100%
            height: 255px
            &--3
                margin-bottom: 25px
            &__title
                &--1
                    width: 65%
                &--2
                    width: 75%
                &--3
                    width: 75%
                &--4
                    width: 90%

    .footer
        padding-top: 40px
        &-wrapper
            grid-template-columns: minmax(280px, max-content)
        &__form
            flex-direction: column
            align-items: start
        &__input
            padding-top: 18px
            padding-bottom: 18px
            &-group
                width: 100%
        &__message
            width: 100%
            margin-bottom: 15px
        &__button
            order: 1
            margin-top: 15px
    ul
        padding-inline-start: 0

    .modal
        &__input
            min-width: 230px
