.footer
    background-color: $dark
    color: $light
    padding-top: 108px
    padding-bottom: 46px
    &-wrapper
        display: grid
        grid-template-columns: repeat(4, minmax(min-content, 1fr))
        grid-gap: 20px
        grid-auto-rows: minmax(40px, min-content)
        align-items: start
        margin-bottom: 95px
    &__logo
        width: 156px
        align-self: center
        grid-row: 1 / 3
    &__categories
        grid-row: 1 / 4
    &__social
        &-network
            display: flex
            align-items: start
            grid-row: 2 / 4
            grid-column: span 2
        &-links
            display: flex
            align-items: center
            justify-content: space-between
            min-width: 83px
    &__legal
        justify-self: end
    &__contact
        &-details
            grid-column: span 2
            margin-top: 10px
        &-form
            grid-column: span 2
            margin-left: 5px
    &__ul
        padding: 0
        margin: 0
        list-style: none
        &--pd-7
            padding-left: 7px
        &--tel
            padding: 0
    &__title
        font-style: normal
        font-weight: bold
        font-size: 18px
        line-height: 23px
        margin: 0 0 16px 0
        text-transform: uppercase
        &--inline
            margin: 0 43px 0 0
        &--mb-3
            margin-bottom: 27px
        &--mb-15
            margin-bottom: 30px
    &__item
        display: flex
        align-items: flex-start
        font-style: normal
        font-weight: normal
        font-size: 14px
        line-height: 160%
        color: $footer-text-color
        &--mr-2
            margin-bottom: 20px
    &__text
        font-style: normal
        font-weight: normal
        font-size: 14px
        line-height: 160%
        color: $footer-text-color
    &__link
        text-decoration: none
        color: inherit
        &:hover
            color: red

    &__icon
        &-wrapper
            transform: translateY(10%)
            min-width: 40px
    &__input
        width: 100%
        &-group
            margin-bottom: 15px
            flex-basis: 48%
            &-wrapper
                width: 100%
                display: flex
                justify-content: space-between
    &__message
        min-height: 123px
        flex-basis: 100%
        margin-bottom: 23px
    &__info
        font-style: normal
        font-weight: bold
        font-size: 12px
        line-height: 15px
        color: #E0E0E0
        &-pay
            width: 700px
            display: flex
            justify-content: space-between
    &__wrapper
        &-info
            display: flex
            justify-content: flex-end
    &__pay
        width: 136px
    &__conditions
        width: 290px
        display: flex
        justify-content: space-between
        align-items: end
        font-style: normal
        font-weight: normal
        font-size: 12px
        line-height: 15px
    &__submittion
        width: 100%
        display: flex
        align-items: center
        justify-content: space-between
    &__fixed
        width: 540px
        display: flex
        justify-content: space-between
