.navbar
    background-color: #ffffff
    &-top
        display: flex
        align-items: center
        justify-content: space-between
        padding-top: 37px
        padding-bottom: 42px
        &__menu-button
            display: none
    &__container
        display: flex
        width: 1110px
    &__search
        margin-right: auto
        margin-left: 108px

    &-bottom
        background-color: $dark
    &-menu
        list-style-type: none
        margin: 0
        padding: 31px 0
        display: flex
        justify-content: space-between
        background-color: $dark
        color: $light
        &__link
            color: inherit
            text-decoration: none
            text-transform: uppercase
            font-size: 14px
            line-height: 19px
            font-weight: 700
            &:hover
                color: red
        &__item
            &--mobile
                &_visible
                    display: none
.navbar
    &__search
        &--mobile_hidden i
            position: absolute
            width: 1px
            height: 65%
            background-color: gray
            left: 15px
            top: 10%
            animation-name: blink
            animation-duration: 1000ms
            animation-iteration-count: infinite
            opacity: 1
.navbar
    &__search
        &--mobile_hidden input:focus + i
            display: none

        @keyframes blink
            0%
                opacity: 0
            100%
                opacity: 1
.logo
    width: 177px
.search
    display: flex
    position: relative
    overflow: hidden
    border-radius: 6px
    height: 40px
    &__input
        width: 350px
        height: 100%
        padding-left: 23px
        padding-right: 75px
        border: none
        border-radius: 6px
        font-size: 12px
        line-height: 15px
        color: #333333
        background-color: #f5fafe
    &__button
        position: absolute
        height: 100%
        width: 65px
        top: 0
        right: 0
        background-color: $primary
        border: none
        line-height: 15px
        color: $text-color
        &:hover
            background-color: #aaa
        &__button
            position: absolute
            padding: 12px 25px 12px 25px
            height: 100%
            width: 65px
            top: 0
            right: 0
            border: none
            background-color: $primary
.user
    display: flex
    align-items: center
    text-decoration: none
    &__avatar
        width: 40px
        height: 40px
        border-radius: 50%
        object-fit: cover
    &__name
        margin-left: 18px
        font-size: 14px
        line-height: 18px
        color: $text-color
        &:hover
            color: red
